@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    background-color: black;
}

.asteroid {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 200px;
    animation: asteroid-rotate 10s ease-in-out infinite alternate;
}

@keyframes asteroid-rotate {
    
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
    
}

.ship {
    position: absolute;
    width: 150px;
    top: 50%;
    left: 50%;
    animation: ship-fly 10s ease-in-out infinite alternate;
}

@keyframes ship-fly {
    
    0% {
        transform: translateY(0);
    }
    
     50% {
        transform: translateX(-100px);
    }
    
     70% {
        transform: translateY(-60px);
    }
      
     40% {
        transform: translateY(50px);
    }
    
}

.stars {
    background-image: url(../images/stars.svg);
    width: 100%;
    height: 100vh;
    animation: stars 5s ease-in-out infinite alternate;
}

@keyframes stars {
    
    0% {
        transform: scale(1);
    }
    
     100% {
        transform: scale(1.5);
    }
    
}